@tailwind base;
@tailwind utilities;

:root {
  /* Base */
  --bg: 250 248 243;
  --surface: 255 255 255;
  --card: 255 255 255;
  --border: 226 226 226;

  /* Gold */
  --primary: 237 191 40;        /* Rich Gold */
  --primarySoft: 255 215 128;   /* Soft Gold */

  /* Accent */
  --accent: 160 160 160;        /* Silver Grey */

  /* Text */
  --text: 28 28 28;
  --muted: 104 104 104;
}

.dark {
  --bg: 10 10 10;
  --surface: 18 18 18;
  --card: 24 24 24;
  --border: 40 40 40;

  --primary: 212 175 55;
  --primarySoft: 255 215 128;
  --accent: 160 160 160;

  --text: 245 245 245;
  --muted: 160 160 160;
}


@layer base {
  html,
  body {
    @apply bg-bg text-text;
  }
}

